h1{
	margin-left:10%;
    font-size:48px;
}
#menu {
	background-color: #D4ECEA;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.menu {
	float: left;
	padding-right:7%;
}
.menu:last-child {
	border-right: none;
}
.menu a {
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.menu a:hover:not(.active) {
	background-color: #A9BCE2;
}
#home{
	padding-left:10%;
}

.flex-container {
    display: flex;
}

.flex-item {
    flex-basis: 100%;
	position:relative;
}
.black{
	color:white;
	position:absolute;
	top:50%;
	left:50%;
}
#black1{
    opacity:0;
}
#black2{
    opacity:0;
}
#black3{
    opacity:0;
}
#black4{
    opacity:0;
}

.image-wrap{
    position: relative;
	border:1px solid #ddd;
    overflow: hidden;
    padding-top: 60%;
    margin: 10px 5px;
	background:#000;
}

.image-wrap img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition-duration: 0.3s;
}
img:hover{
	opacity:0.6;
	transition-duration:0.3s;
}
