
h1{
    text-align:center;
    font-size:48px;
}
h2{
	border-bottom:solid #A9BCE2;
}
h3{
	border-left:solid#A9BCE2;
}
.x{
    background-color: #EEDDBB;
	color:#A9BCE2;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.menu {
	float: left;
	width:20%;
}
.menu:last-child {
	border-right: none;
}
.menu a {
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.menu a:hover:not(.active) {
	background-color: #A9BCE2;
    
}
.active {
    padding-left:20%;
	background-color: #DA3C41;
}
