#content {
	margin-left: 10%;
	margin-right: 10%;
}

p {
	font-size: 20px;
}

h1 {
	margin-left: 10%;
	font-size: 48px;
}

h2 {
	font-size: 36px;
	border-bottom: solid #A9BCE2;
}

h3 {
	font-size: 24px;
	border-left: solid#A9BCE2;
	padding-left: 4px;
}

h4 {
	font-size: 20px;
}

#index{
	border:solid green;
	border:solid 0.2px #A9BCE2;
}
#index p{
	padding:10px;
	margin:0;
	font-size:24px;
	background-color:#A9BCE2;
	color:white;
}
#index li{
	color:#7c9ad6;
}
#index a{
	color:#A9BCE2;
	text-decoration: none;
}

#menu {
	background-color: #D4ECEA;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#home {
	padding-left: 10%;
}

#sports_equipment {
	padding-right: 10%;
}

.menu {
	float: left;
	padding-right: 7%;
}

.menu:last-child {
	border-right: none;
}

.menu a {
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.menu a:hover:not(.active) {
	background-color: #A9BCE2;
}

#page_top {
	width: 50px;
	height: 50px;
	position: fixed;
	right: 20px;
	bottom: 20px;
	background: #3f6eef;
	opacity: 0.6;
	border-radius: 50%;
}

#page_top a {
	position: relative;
	display: block;
	width: 50px;
	height: 50px;
	text-decoration: none;
}

#page_top a::before {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	content: '\f106';
	font-size: 25px;
	color: #fff;
	position: absolute;
	width: 25px;
	height: 25px;
	top: -5px;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	text-align: center;
}

.photo {
	padding-left: 40%;
}